<div class="current-theme">
	<h2>Current Theme</h2>
	<ul class="hues-wrap">
		<li>
			<div class="theme-descriptor">Background:
			</div>
			<div class="theme-swatch background">
			</div>
			<div class="theme-variable"><code>var(--color-bg)</code></div>
		</li>		
		<li>
			<div class="theme-descriptor">Background offset:
			</div>
			<div class="theme-swatch background-offset">
			</div>
			<div class="theme-variable"><code>var(--color-bg-offset)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Background inverse:
			</div>
			<div class="theme-swatch background-inverse">
			</div>
			<div class="theme-variable"><code>var(--color-bg-inverse)</code></div>
		</li>		
		<li>
			<div class="theme-descriptor">Primary:
			</div>
			<div class="theme-swatch color-primary">
			</div>
			<div class="theme-variable"><code>var(--color-primary)</code></div>
		</li>		
		<li>
			<div class="theme-descriptor">Primary offset:
			</div>
			<div class="theme-swatch color-primary-offset">
			</div>
			<div class="theme-variable"><code>var(--color-primary-offset)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Secondary:
			</div>
			<div class="theme-swatch color-secondary">
			</div>
			<div class="theme-variable"><code>var(--color-secondary)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Text:
			</div>
			<div class="theme-swatch color-text">
			</div>
			<div class="theme-variable"><code>var(--color-text)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Text offset:
			</div>
			<div class="theme-swatch color-text-offset">
			</div>
			<div class="theme-variable"><code>var(--color-text-offset)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Headline:
			</div>
			<div class="theme-swatch color-headline">
			</div>
			<div class="theme-variable"><code>var(--color-headline)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Border:
			</div>
			<div class="theme-swatch background-inverse">
			</div>
			<div class="theme-variable"><code>var(--color-bg-inverse)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Button text:
			</div>
			<div class="theme-swatch color-text">
			</div>
			<div class="theme-variable"><code>var(--color-text)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Button background:
			</div>
			<div class="theme-swatch color-secondary">
			</div>
			<div class="theme-variable"><code>var(--color-secondary)</code></div>
		</li>
	</ul>
</div>
