<button type="button" class="theme-icon">
  <span
    aria-hidden="true"
    class="fas fa-moon"
    title="Toggle between dark and light mode"
  >{% svgIcon "night.svg"%}</span>
  <span
    aria-hidden="true"
    class="fas fa-sun"
    title="Toggle between dark and light mode"
  >{% svgIcon "day.svg"%}</span>
  <span class="sr-only">Toggle between dark and light mode</span>
</button>
