<div class="current-theme">
	<h2 class="theme-title">Current Theme</h2>
	<ul class="hues-wrap">
		<li>
			<div class="theme-descriptor">Background:
			</div>
			<div class="theme-swatch background">
			</div>
			<div class="theme-variable"><code>var(--color-bg)</code></div>
		</li>		
		<li>
			<div class="theme-descriptor">Background offset:
			</div>
			<div class="theme-swatch background-offset">
			</div>
			<div class="theme-variable"><code>var(--color-bg-offset)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Background inverse:
			</div>
			<div class="theme-swatch background-inverse">
			</div>
			<div class="theme-variable"><code>var(--color-bg-inverse)</code></div>
		</li>		
		<li>
			<div class="theme-descriptor">Primary:
			</div>
			<div class="theme-swatch color-primary">
			</div>
			<div class="theme-variable"><code>var(--color-primary)</code></div>
		</li>		
		<li>
			<div class="theme-descriptor">Primary offset:
			</div>
			<div class="theme-swatch color-primary-offset">
			</div>
			<div class="theme-variable"><code>var(--color-primary-offset)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Secondary:
			</div>
			<div class="theme-swatch color-secondary">
			</div>
			<div class="theme-variable"><code>var(--color-secondary)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Tertiary:
			</div>
			<div class="theme-swatch color-tertiary">
			</div>
			<div class="theme-variable"><code>var(--color-tertiary)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Highlight:
			</div>
			<div class="theme-swatch color-highlight">
			</div>
			<div class="theme-variable"><code>var(--color-highlight)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Text:
			</div>
			<div class="theme-swatch color-text">
			</div>
			<div class="theme-variable"><code>var(--color-text)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Text offset:
			</div>
			<div class="theme-swatch color-text-offset">
			</div>
			<div class="theme-variable"><code>var(--color-text-offset)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Headline:
			</div>
			<div class="theme-swatch color-headline">
			</div>
			<div class="theme-variable"><code>var(--color-headline)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Border:
			</div>
			<div class="theme-swatch color-border">
			</div>
			<div class="theme-variable"><code>var(--color-border)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Button text:
			</div>
			<div class="theme-swatch color-button-text">
			</div>
			<div class="theme-variable"><code>var(--color-button-text)</code></div>
		</li>
		<li>
			<div class="theme-descriptor">Button background:
			</div>
			<div class="theme-swatch color-button-bg">
			</div>
			<div class="theme-variable"><code>var(--color-button-bg)</code></div>
		</li>
	</ul>
</div>
<h3>Elements</h3>
<button>button</button>
<style>
.div-with-border {
		width: 100%;
		border: 1px solid var(--color-border)
	}
</style>
<div class="div-with-border">Div with a border<code>--color-border</code></div>
