article {
	margin: 0 auto;
	max-width: var(--contentSize);

	.article-header {
		padding-top: 1rem;
		border-bottom: 1px solid var(--color-primary);
		margin-bottom: 1rem;
		.article-title {
			margin-bottom: 0;
			padding-bottom: 0.25rem;
		}
	}
	.article-meta {
		padding: 0 0 1rem;
		.article-author {
			margin-bottom:0;
		}
		.article-tags {
			background: transparent;
		}
	}
}