article {
	padding-top: calc(var(--spacingUnit) * 1 );
	padding-bottom: calc(var(--spacingUnit) * 1 );
	.article-header {
		margin-bottom: var(--spacingUnit);
		.article-title {
			margin-bottom: 0;
			padding-bottom: 0.25rem;
			text-align: center;
			margin: 0 auto;
			width: 80%
		}
		.article-subtitle {
			text-align:center;
			margin: 1rem 0 0;
			font-style:italic;
		}
	}
	.article-meta, .article-tags {
		color: var(--color-text-offset);
		.article-date {
			margin-bottom:0;
		}
}
	.article-meta {
		padding: 0 0 1rem;
		margin: 0 auto;
		text-align:center;
		
		.article-tags {
			background: transparent;
		}
	}
}