:root {
    --red: #C5004A;
    --darkred: #7F0036;
    --lightgray: #e0e0e0;
    --gray: #C0C0C0;
    --darkgray: #333;
    --navy: #17050F;
    --blue: #082840;
    --white: #fff;
		--off-white: #FAF9F6
  }
  * {
    box-sizing: border-box;
  }
	body {
		max-width:40em;
		display: flex;
		min-height: 100vh;
		flex-direction:column;
	}
  html,
  body {
    padding: 0;
    margin: 0 auto;
    font-family: system-ui, sans-serif;
    color: var(--darkgray);
    background-color: var(--off-white);
  }
  p:last-child {
    margin-bottom: 0;
  }
  p,
  .tmpl-post li,
  img {
    max-width: 37.5em; /* 600px /16 */
  }
  p,
  .tmpl-post li {
    line-height: 1.45;
  }
  a[href] {
    color: var(--blue);
  }
  a[href]:visited {
    color: var(--navy);
  }
  main {
		flex:1;
		display:flex;
    padding: 1rem;
  }
  main :first-child {
    margin-top: 0;
  }
	main > article {
		flex:1;
		order:1;
	}

  header {
    border-bottom: 1px dashed var(--lightgray);
  }
  header:after {
    content: "";
    display: table;
    clear: both;
  }
  table {
    margin: 1em 0;
  }
  table td,
  table th {
    padding-right: 1em;
  }