html {
	font-size:16px;
	background-color: var(--color-bg);
}
body {
	
	display: flex;
	min-height: 100vh;
	flex-direction:column;
}
html,
body {
	padding: 0;
	margin: 0 auto;
	font-family: var(--fontFamily-sans-serif);
	// font-size: var(--fontFamily-base);
	color: var(--color-text);
}
/* https://www.a11yproject.com/posts/how-to-hide-content/ */
.visually-hidden {
	clip: rect(0 0 0 0);
	clip-path: inset(50%);
	height: 1px;
	overflow: hidden;
	position: absolute;
	white-space: nowrap;
	width: 1px;
}
.header-wrap, .footer-bottom {
	max-width: var(--contentSize);
	margin: 0 auto;}


p:last-child {
	margin-bottom: 0;
}
p,
.tmpl-post li,
img {
	// max-width: 37.5em; /* 600px /16 */
}
p,
.tmpl-post li {
	line-height: 1.45;
}

main {
	flex:1;
	display:flex;
	padding: 1rem;
	
}
main :first-child {
	margin-top: 0;
}
main > article {
	flex:1;
	order:1;
	padding: 0 1em;
}

header:after {
	content: "";
	display: table;
	clear: both;
}
table {
	margin: 1em 0;
}
table td,
table th {
	padding-right: 1em;
}