
button {
	background-color: var(--color-primary);
  border: 1px solid var(--color-primary);
  color: var(--color-bg);
	padding: calc(var(--spacingUnit) / 1.5);
	font-size: var(--fontSize-base);
	&:hover {
	background-color: var(--color-bg);
	border: 1px solid var(--color-primary);
	color: var(--color-primary);
	
	}
}