footer {
	background-color: var(--color-bg-offset);
	.footer-wrap {
		.social {
			flex:2;
			flex-basis:100%;
		}
		.copyright {
			justify-content:center;
			flex-basis:100%;
			text-align:center;
			p {
				font-size: var(--fontSize-small);
			}
		}
	}
}