footer {
	display:flex;
	flex-flow: row wrap;
	justify-content:space-between;
	padding: 1rem;
	.footer-left {
		
	}
	.footer-center {
		
	}
	.footer-right {
		
	}
	.footer-bottom {
		flex:3;
		flex-basis:100%;
	}
}