footer {
	display:flex;
	flex-flow: row wrap;
	justify-content:space-between;
	padding: 1rem;
	
	.footer-left {
		
	}
	.footer-center {
		
	}
	.footer-right {
		
	}
	.footer-bottom {
		border-top: 1px dashed var(--gray);
		flex-basis:100%;
		display:flex;
		align-content:center;
		flex-flow: row wrap;
		.social {
			flex:2;
			flex-basis:100%;
		}
		.copyright {
			justify-content:center;
			flex-basis:100%;
			text-align:center;
		}
	}
}