/* Header */
header {
	background: var(--color-bg-offset);
}
.header-wrap {
	display:flex;
	flex-direction:row;
	align-items:center;
	min-height:3.5rem;
		
	.site-name, .nav {
		font-size: var(--fontSize-medium); 
	}
	.site-name {
			margin: 0;
			font-family: var(--fontFamily-sans-serif);

		}
	.site-name :link:not(:hover) {
		text-decoration: none;
		border-bottom:none;
	}

}