/* Header */
header {
	background: var(--color-bg-offset);
}
.header-wrap {
	margin: 1rem auto;
	display:flex;
	flex-direction:row;
	align-items:center;
	.home, .nav {
	 font-size: var(--fontSize-medium); 
	}
	.home {
			padding: 0 1rem;
			margin: 0 0 0;
			font-family: "Roboto", sans-serif;
		}
	.home :link:not(:hover) {
		text-decoration: none;
	}
	/* Nav */
	.nav {
		padding: 0;
		list-style: none;
		margin: 0 0 0 auto;
		text-align:right;
	}
	.nav-item {
		display: inline-block;
		margin-right: 1em;
	}
	.nav-item a[href]:not(:hover) {
		text-decoration: none;
	}
	.nav-item-active {
		font-weight: 700;
	}
}