
button {
	background-color: var(--color-button-bg);
  border: 1px solid var(--color-button-text);
  color: var(--color-button-text);
	padding: calc(var(--spacingUnit) / 1.5);
	font-size: var(--fontSize-base);
	cursor: pointer;
	&:hover {
	background-color: var(--color-button-text);
	border: 1px solid var(--color-border);
	color: var(--color-button-bg);
	
	}
}
hr {
	border-top:  0.5px solid var(--color-border);
}

//SVGs
.icon {
	fill: var(--color-text);
	height: 1.5rem;
	width:auto;
	border:none;
	&:hover {
		fill:var(--color-primary);
	}
}
.dark-mode .icon {
	fill: var(--color-primary);
	&:hover {
		fill:var(--color-text);
	}
}
