
button {
	background-color: var(--color-button-bg);
  border: 1px solid var(--color-button-bg);
  color: var(--color-button-text);
	padding: calc(var(--spacingUnit) / 1.5);
	font-size: var(--fontSize-base);
	&:hover {
	background-color: var(--color-bg);
	border: 1px solid var(--color-border);
	color: var(--color-button-text);
	
	}
}
hr {
	border-top:  0.5px solid var(--color-border);
}