img {
	height: auto;
	vertical-align:middle;;
	max-width:100%;
	
}

figure {
	display: block;
	margin: 0 auto calc( var(--spacingUnit) * 2 );
	text-align:center;
	figcaption {
		text-align:center;
		font-size: var(--fontSize-small);
		font-weight:700;
	}
}

.image-align-center, .image-align-left, .image-align-right, .image-align-wide {
	display: block;
	margin: 0 auto calc( var(--spacingUnit) * 2 );
	text-align:center;
	width: 100%;	
}

.image-align-wide {
	box-sizing:border-box;
	height:auto;
	margin: 2em auto 2em calc((-100vw + 100%) * .5);

	width: 100vw;
}

.image-align-left, .image-align-right {
	@media (min-width: 480px) {
  	width: 40%;
	}

}
.image-align-left {
	@media (min-width: 480px) {
  	float: left;
		margin: 0 1em 1em -10%;
	}
	
}

.image-align-right {
	@media (min-width: 480px) {
  	float: right;
		margin: 0 -10% 1em 1em;
	}
}

/* Gallery layout */


.gallery {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: calc(var(--spacingUnit) / 2 );
	border: 2pt solid var(--color-secondary);
	padding: 1rem;
	justify-content: space-between;

	h3 {
		flex-basis: 100%;
	}

	.gallery-item {
		flex: 100%;
		max-width:100%;
		// align-self: flex-end;
		@media screen and (min-width: 480px) {
			flex:33%;
		}
		@media screen and (min-width: 800px) {
			flex:25%;
		}
		img {
			vertical-align:middle;
			width:100%;
		}
	}
	
}

