img {
	height: auto;
	vertical-align:middle;;
	max-width:100%;
	
}

figure {
	display: block;
	margin: 0 auto calc( var(--spacingUnit) * 2 );
	text-align:center;
	figcaption {
		text-align:center;
		font-size: var(--fontSize-small);
		font-weight:700;
	}
}

.image-align-center, .image-align-left, .image-align-right, .image-align-wide {
	display: block;
	margin: 0 auto calc( var(--spacingUnit) * 2 );
	text-align:center;
	width: 100%;	
}

.image-align-wide {
	box-sizing:border-box;
	height:auto;
	margin: 2em auto 2em calc((-100vw + 100%) * .5);
	max-width:1440px;
	width: 100vw;
	@media (min-width: 1440px) {
		margin: 2em auto 2em calc(50% - 720px);
		width:1440px;}
}

.image-align-left, .image-align-right {
	@media (min-width: 480px) {
  	width: 40%;
	}

}
.image-align-left {
	@media (min-width: 480px) {
  	float: left;
		margin: 0 1em 1em -10%;
	}
	
}

.image-align-right {
	@media (min-width: 480px) {
  	float: right;
		margin: 0 -10% 1em 1em;
	}
}

/* Gallery layout */

.gallery {
	// display: flex;
	// flex-wrap: wrap;
	// align-items: center;
	// gap: calc(var(--spacingUnit) / 2 );
	// justify-content: space-between;
	border: 2pt solid var(--color-secondary);
	padding: 1rem;
	margin: 0 -10% 1em -10%;

	column-count:4;
	// column-width:400px;
	column-gap: 8px;

	h3 {
		flex-basis: 100%;
	}
 a {
    display: grid;
    grid-template-rows: 1fr auto;
    // margin-bottom: 8px;
    break-inside: avoid;
    text-decoration: none;
		border-bottom:none;
	&:hover, &:focus {
		background:none;
	}
}

 img {
    max-width: 100%;
    display: block;
    grid-row: 1 / -1;
    grid-column: 1;
}
	.gallery-item-static {
		flex: 100%;
		max-width:100%;
		@media screen and (min-width: 480px) {
			flex:33%;
		}
		@media screen and (min-width: 800px) {
			flex:25%;
		}
		img {
			vertical-align:middle;
			width:100%;
		}
		&:last-child {
			margin-bottom: 0;
			@media screen and (min-width: 480px) {
				margin-bottom:calc(var(--spacingUnit)*2);
			}
		}
	}
	
}

