/* Lists
-------------------------------------------------------------- */
ul, ol {
	font-size: var(--fontSize-base);
	line-height: 1.45;
}
li ul,
li ol {
	margin: 0 1.25rem;
}

ul,
ol {
	margin: 0 1.25rem 1.25rem 0;
}

ul {
	list-style-type: disc;
}

ol {
	list-style-type: decimal;
}

dl {
	margin: 0 0 1.25rem 0;
}

dl dt {
	font-weight: bold;
}

dd {
	margin-left: 1.25rem;
}

/* Tables
-------------------------------------------------------------- */

table {
  margin-bottom: 1.4em;
  width: 100%;
}
th {
  font-weight: bold;
}
thead th {
  background: var(--color-primary-offset);
}
th,
td,
caption {
  padding: 4px 10px 4px 5px;
}
tr.even td {
  background: var(--color-primary-offset);
}
tfoot {
  font-style: italic;
}
caption {
  background: var(--color-primary-offset);
}