<!doctype html>
<html lang="en">
  {% include "components/head.njk"%}
  <body>
	{% include "components/body-gtm.njk"%}
	{% include "components/theme-switch.njk" %}
	{% include "components/header.njk"%}
	<a href="#skip" class="visually-hidden">Skip to main content</a>

    <main {% if templateClass %} class="{{ templateClass }}"{% endif %}>
		
		<article>
				{% if pageHome !== "true" %}
				{% include "components/breadcrumbs.njk" %}
				
				<div class="article-header">
				{% if title %}<h1 class="article-title">{{title}}</h1>{%endif%}
				{% if subtitle %}<h2 class="post-subtitle">{{subtitle}}</h2>{%endif%}
				</div>
				{% else %}
				<div class="article-header">
				<h2 class="article-title">{{metadata.description}}</h2>
				</div>
				{%endif%}
    	  {{ content | safe }}
			</article>
    </main>
	{% include "components/footer.njk"%}


    <!-- Current page: '{{ page.url | url }}` was built on {% currentBuildDate%} -->
  </body>
</html>