<!doctype html>
<html lang="en">
  {% include "components/head.njk"%}
  <body {% if bodytag %} class= {{bodytag}} {%endif %}>
	{% include "components/body-gtm.njk"%}
	{% include "components/header.njk"%}
	<a href="#skip" class="visually-hidden">Skip to main content</a>

	<main {% if templateClass %} class="{{ templateClass }}"{% endif %}>
						{% include "components/breadcrumbs.njk" %}
		<article>
				
				{% if pageHome !== "true" %}

				
				<div class="article-header">
				{% if title %}<h1 class="article-title">{{title}}</h1>{%endif%}
				{% if subtitle %}<p class="article-subtitle">{{subtitle}}</p>{%endif%}
				</div>
				{% else %}
				<div class="article-header">
				<h2 class="article-title">{{metadata.description}}</h2>
				</div>
				{%endif%}
    	  {{ content | safe }}
			</article>
    </main>
	{% include "components/footer.njk"%}


    <!-- Current page: '{{ page.url | url }}` was built on {% currentBuildDate%} -->
  </body>
</html>