<!doctype html>
<html lang="en">
  {% include "head.njk"%}
  <body>
	{% include "body-gtm.njk"%}
	{% include "header.njk"%}

    <main {% if templateClass %} class="{{ templateClass }}"{% endif %}>
		
		<article>
				{% include "breadcrumbs.njk" %}
				{# {%if not title = "Home"%} #}
				<div class="article-header">
				{% if title %}<h2 class="article-title">{{title}}</h2>{%endif%}
				{% if subtitle %}<h3 class="post-subtitle">{{subtitle}}</h2>{%endif%}
				</div>
				{# {%endif%} #}
    	  {{ content | safe }}
			</article>
    </main>
	{% include "footer.njk"%}


    <!-- Current page: {{ page.url | url }} -->
  </body>
</html>