.breadcrumb {
	.breadcrumbs {
		display:inline-flex;
		flex-direction: row;
		margin: 0;
		padding: 0;
		list-style-type: none;
		.crumb { 
    	font-size: var(--fontSize-small);
			color: var(--color-text-offset);
    	letter-spacing: .03em;
    	line-height: 1.1;
    	text-transform: none;
			font-weight:700;
			margin-top:0;
			&::after {
				content: "/";
				font-size: var(--fontSize-small);
				font-weight: 600;
				padding: 0 .48em;
			}
		}
	}
}