---
layout: layouts/base.njk
permalink: /posts/
eleventyNavigation:
	key: posts
	order: 2
---

<h2>{{eleventyNavigation.key}}</h2>

{% set postslist = collections.posts %}
{% include "postslist.njk" %}

