---
layout: layouts/base.njk
title: Posts
permalink: /posts/
eleventyNavigation:
  key: Posts
  order: 2
pagePosts: "true"
bodyclass: page
---
{% set postslist = collections.posts %}
{% include "components/postslist.njk" %}

