---
layout: layouts/base.njk
title: "Scratch Pad"
eleventyNavigation:
	key: Scratch
	order: 9
---
<h2>{{ title }}</h2>

{% include "assets/images/github.svg"%}




<span>{{ '/src/_includes/assets/images/github.svg' | svgContents | safe }}</span>

{%svgIcon "linkedin.svg" %}