---
layout: layouts/base.njk
title: "Scratch Pad"
eleventyNavigation:
	key: Scratch
	order: 9
---
<h2>{{ title }}</h2>



{%image "./src/_includes/assets/images/ucsc-diploma.jpg", "alt text deaux", "(min-width: 30em) 50vw, 100vw"%}

{%image "./src/_includes/assets/images/evergreen-diploma.jpg", "alt text deaux", "(min-width: 30em) 50vw, 100vw"%}

{%svgIcon "linkedin.svg" %}

{# {% include "assets/icons/github.svg"%} #}




{# <span>{{ '/src/_includes/assets/icons/github.svg' | svgContents | safe }}</span> #}